* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: block;
    width: 100%;
    padding: 0;
}

.wide {
    max-width: 1200px;
    margin: 0 auto;
}

/* Code danh cho mobile (khong can phai canh 2 le tren mobile) */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.s-0,
.s-1,
.s-2,
.s-2-4,
.s-3,
.s-4,
.s-5,
.s-6,
.s-7,
.s-8,
.s-9,
.s-10,
.s-11,
.s-12 {
    display: block;
}

.s-0 {
    display: none;
}

.s-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.s-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.s-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

.s-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.s-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.s-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.s-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.s-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.s-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.s-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.s-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.s-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.s-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Column offset */
.s-o-1 {
    margin-left: 8.333333%;
}

.s-o-2 {
    margin-left: 16.666667%;
}

.s-o-2-4 {
    margin-left: 20%;
}

.s-o-3 {
    margin-left: 25%;
}

.s-o-4 {
    margin-left: 33.333333%;
}

.s-o-5 {
    margin-left: 41.666667%;
}

.s-o-6 {
    margin-left: 50%;
}

.s-o-7 {
    margin-left: 58.333333%;
}

.s-o-8 {
    margin-left: 66.666667%;
}

.s-o-9 {
    margin-left: 75%;
}

.s-o-10 {
    margin-left: 83.333333%;
}

.s-o-11 {
    margin-left: 91.666667%;
}

/* Tablet */
/* Dieu chi lai khich thuoc wide khi o man hinh gan bang 984px (de tang khoang cach 2 le) */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .wide {
        max-width: 644px;
    }
}

/* Tablet without div */
/* Neu < 740px thi se su dung class m, neu lon hon 1023 thi da co PC lo */
@media screen and (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0,
    .m-1,
    .m-2,
    .m-2-4,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-0 {
        display: none;
    }

    .m-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .m-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .m-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .m-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .m-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .m-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Column offset */
    .m-o-1 {
        margin-left: 8.333333%;
    }

    .m-o-2 {
        margin-left: 16.666667%;
    }

    .m-o-2-4 {
        margin-left: 20%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.333333%;
    }

    .m-o-5 {
        margin-left: 41.666667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.333333%;
    }

    .m-o-8 {
        margin-left: 66.666667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.333333%;
    }

    .m-o-11 {
        margin-left: 91.666667%;
    }
}


/* PC high res without wide div */
/* Code nay se xu ly cho cac man hinh lon hon 1239px (van giong voi 1024 -> 1239) */
@media screen and (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .l-0,
    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-0 {
        display: none;
    }

    .l-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .l-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .l-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .l-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .l-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Column offset */
    .l-o-1 {
        margin-left: 8.333333%;
    }

    .l-o-2 {
        margin-left: 16.666667%;
    }

    .l-o-2-4 {
        margin-left: 20%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.333333%;
    }

    .l-o-5 {
        margin-left: 41.666667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.333333%;
    }

    .l-o-8 {
        margin-left: 66.666667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.333333%;
    }

    .l-o-11 {
        margin-left: 91.666667%;
    }
}

/* PC hight res with wide div */
/* Code nay se xu ly cho cac man hinh PC tu 1024 -> 1239 */
/* Dieu chi lai khich thuoc wide khi o man hinh gan bang 1200px (de tang khoang cach 2 le) */
@media screen and (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        max-width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .l-0,
    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .wide .l-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .wide .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .wide .l-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .l-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .wide .l-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .l-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .wide .l-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Column offset */
    .wide .l-o-1 {
        margin-left: 8.333333%;
    }

    .wide .l-o-2 {
        margin-left: 16.666667%;
    }

    .wide .l-o-2-4 {
        margin-left: 20%;
    }

    .wide .l-o-3 {
        margin-left: 25%;
    }

    .wide .l-o-4 {
        margin-left: 33.333333%;
    }

    .wide .l-o-5 {
        margin-left: 41.666667%;
    }

    .wide .l-o-6 {
        margin-left: 50%;
    }

    .wide .l-o-7 {
        margin-left: 58.333333%;
    }

    .wide .l-o-8 {
        margin-left: 66.666667%;
    }

    .wide .l-o-9 {
        margin-left: 75%;
    }

    .wide .l-o-10 {
        margin-left: 83.333333%;
    }

    .wide .l-o-11 {
        margin-left: 91.666667%;
    }
}