.container {
    padding-top: 90px;
}

/* admin */

.support {
    display: block;
}

.unsupport {
    display: none;
}

.adminContent {
    width: 80%;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    height: 100vh;
}

.adminContent h1 {
    text-align: center;
}

/* CKEditor height */
.ck-editor__editable_inline {
    min-height: 400px;
}

/* Scrollbar */

* {
    scrollbar-width: .6vw;
    scrollbar-color: #333 rgba(200, 200, 200, .5);
}

*::-webkit-scrollbar {
    width: .6vw;
}

*::-webkit-scrollbar-thumb {
    background-color: #333;
}

*::-webkit-scrollbar-track {
    background-color: rgba(200, 200, 200, .5);
}

/* Responesive screen */
@media screen and (max-width: 1023px) {
    .support {
        display: none;
    }

    .unsupport {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: bold;
        user-select: none;
        background-image: url('../../assets/background/404.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        text-shadow: 0 0 5px rgba(0, 0, 0, .75);
    }

    .unsupport p {
        text-align: center;
    }
}