a {
    text-decoration: none;
    color: black;
}

.content {
    width: 79%;
    position: absolute;
    right: 0;
}

.sidebar_container {
    width: 20%;
    height: 100%;
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 0 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    z-index: 99;
}

.sidebar_container .sidebar_header {
    width: 100%;
    height: 75px;
    font-size: 22px;
    font-weight: bold;
    line-height: 75px;
}

.sidebar_container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: calc(100% - 75px);
    position: relative;
}

.sidebar_container ul li {
    margin-bottom: 10px;
}

.sidebar_container ul li.logout {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.sidebar_container ul li a,
.sidebar_container ul li button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 18px;
    border-radius: 12px;
    transition: all .4s ease-in-out;
    color: rgb(92, 92, 92);
}

.sidebar_container ul li a {
    display: block;
}

.sidebar_container ul li button {
    text-align: left;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.sidebar_container ul li a:hover,
.sidebar_container ul li button:hover {
    color: #f5f5f5;
    background-color: darkorchid;
}

.sidebar_container ul li a i,
.sidebar_container ul li button i {
    font-size: 24px;
    display: inline-block;
    margin-right: 8px;
    transform: translateY(15%);
}